html {
    --primary-color: #1c3144ff;
  
    --background-color: #fffffcff;
    --background-color-light: #e6ebe0ff;
    --background-color-dark:   #72a98fff;
    --contrast-color: #ed6a5aff;

  
    background-color: var(--background-color);
    font-family: 'Merriweather', serif;
  
    height: 100%;
  }
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  h1{
    font-family: 'Libre Franklin', sans-serif;
  }
  
  
  body > header {
    position: sticky;
    background-color: var(--background-color-dark);
  
    top: 0;
    z-index: 4;
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
  }
  

  #login-signup a{
    float: right; 

  }
  
  
  body > header * {
    padding: 0.2em 0.3em;
  }


  
  



