/* Create Layout with grid (header, main, footer) */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-row: 1;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
}

/* Create Flexbox layout for header */

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* Create Flexbox layout for footer */

footer {
  display: block;    
}
/* Display divs inside footer as flexbox */

footer > div {
  display: flex;
  justify-content: space-between;
}
.footer__logo > p {
  margin: 0 1rem;
}

.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


/* Adding a new plan */
.planBundle {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.planBundle > #addPlanRecipe {
  grid-column: 2;
  overflow-y: auto;
}

.planBundle > #planState {
  grid-column: 1;
  overflow-y: auto;
}

.planRecipeOption{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}