
/* Save color pallette */
:root {
    --contrast-color: #ed6a5aff;
    --primary-color: #1c3144ff;
    --background-color: #fffffcff;
    --background-color-dark: #72a98fff;
    --background-color-light: #e6ebe0ff;
}

/* Global styles */
html {
    background-color: var(--background-color);
    font-family: 'Helvetica', serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
h1{
font-family: 'Libre Franklin', sans-serif;
}
  
  
body > header {
position: sticky;
background-color: var(--background-color-dark);
top: 0;
z-index: 4;
display: flex;
align-items: baseline;
margin-bottom: 1em;
}

body > header * {
    padding: 0.2em 0.3em;
}
  

#login-signup a{
float: right; 

}

/* Footer styles */
footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1em;
    margin: 0;
    position: sticky;
    z-index: 4;
}

footer * {
    margin: 0.2em;
}

.footer__logo > div {
    margin: 1rem;
}

footer, .footer_contacts > a {
    color: var(--background-color-light);
}

.footer_contacts > a:hover {
    color: var(--contrast-color);
}


/* Plan page */
.plan-subtitle {
    color: var(--primary-color);
    font-weight: 300;
    display: flex;
    gap: 0.3em;
    font-style: italic;
}

.plan-subtitle h5 {
    color: var(--primary-color);
    font-weight: 300;
}

.recipe-card {
    padding: 1em;
    margin: 1em 0;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.recipe-card * {
    margin: 0.4em 0;
}

.recipe-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-card-header h5 {
    color: var(--contrast-color);
}

/* Select with user info */
.userSelect {
    width: 200px;
  }
  
/* Add Plan Select User */
#addRecipeBt{
    align-items: center;
    justify-content: center;
}

#addRecipeBt:hover{
    background-color: var(--contrast-color);
    color: var(--background-color);
    border: 1px solid var(--contrast-color);
}

