
/* Save color pallette */
:root {
    --contrast-color: #ed6a5aff;
    --primary-color: #1c3144ff;
    --background-color: #fffffcff;
    --background-color-dark: #72a98fff;
    --background-color-light: rgb(236, 240, 232);
}

/* Global styles */
html {
    background-color: var(--background-color);
    font-family: 'Helvetica', serif;
    height: 100%;
    width: 100%;
    margin: 0;
    scrollbar-gutter: stable;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    height: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
h1{
font-family: 'Libre Franklin', sans-serif;
}

#title, #title:hover, #title:active, #title:visited, #title:focus{
    font-family: 'Poppins';font-size: 42px;
    font-weight: bolder;
    color: var(--primary-color);
}

#title:after {
    color: var(--primary-color);
}

.main__img {
    height: auto;
    width: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    z-index: 5;
}
  
  
body > header {
position: sticky;
background-color: var(--background-color-dark);
top: 0;
z-index: 4;
display: flex;
align-items: baseline;
margin-bottom: 1em;
}

body > header * {
    padding: 0.2em 0.3em;
}
  

#login-signup a{
float: right; 

}

/* Footer styles */
footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1em;
    margin: 0;
    position: sticky;
    z-index: 4;
}

footer * {
    margin: 0.2em;
}

.footer__logo > div {
    margin: 1rem;
}

footer, .footer_contacts > a {
    color: var(--background-color-light);
}

.footer_contacts > a:hover {
    color: var(--contrast-color);
}

.card {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.card-small {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-small:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.card-small > p {
    color: var(--primary-color);
    font-size: 0.8em;

}

.card-with-img {
    display: flex;
    padding: 0em;
}

.card-img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em 0 0 0.5em;
}

.card-with-img > div {
    flex-grow: 1;
}

.card-categories > div {
    display: inline-block;
}

.card-categories > div > h6 {
    margin: 4px 8px 4px 0;
    line-height: 28px;
    padding: 0 16px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #c4c4c4;
    border-radius: 43px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--background-color-light);
}

input[type="radio"]:checked + label .card, #planRecipeOptions{
    background-color: var(--background-color-light);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h4 {
    color: var(--background-color-dark);
}
.card-header h5 {
    color: var(--contrast-color);
}

.card-header *, .card-body *, .card-side * {
    margin: 0.4em;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card-small {
    margin: 0.2em;
}

/* Ingredient Recipe */
#ingredient-input-hidden {
    display: none;
}
input[type="radio"]:checked + label #ingredient-input-hidden {
    display: block;
}


/* Recipe */

.alert {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
  }
  
  .alertCheckbox {
    display: none;
  }
  
  :checked + .alert {
    display: none;
  }
  
  .alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
  }
  
  .alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
  }
  
  .clear {
    clear: both;
  }

  .notice {
    background-color: var(--background-color-dark);
    border: none;
    color: var(--background-color-light);
  }
  

.recipe-title {
    color: var(--primary-color);
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.recipe-details {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1em;
    color: var(--primary-color);
    padding: 1.2em;
    background-color: var(--background-color-light);
    font-style: italic;
}

.recipe-chef_submission_info, .recipe-nutritionist_verified {
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}
/*Titles*/
#recipe-ingredients_title, #recipe-preparation_title, #recipe-nutri_info_title, #recipe-tags_title, #recipe-see_ratings_title, #recipe-write_rating_title{
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

.recipe-ingredients>ul {
    list-style-type: none;
    padding: 0;
}

.recipe-ingredient {
    position: relative;
    padding-left: 20px; /* Adjust the padding to make room for the arrow */
    margin-bottom: 5px; /* Optional: Adjust margin as needed */
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
}

.recipe-ingredient::before {
    content: ">"; 
    position: absolute;
    left: 0;
    color: var(--contrast-color);
    font-weight: 700;
}

.recipe-preparation, #recipe-preparation_title, #recipe-nutri_info_title, .recipe-nutritional_info {
    border-left: 2px solid var(--contrast-color);
    padding-left: 1em;
    margin-block-start: 0;
}

.recipe-tags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1em 0;
}
.recipe-tags > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe-nutrient {
    margin: 1em 0;
}
.ingredient-quantity {
    color: var(--primary-color);
    font-weight: 300;
    font-style: italic;
}

.nutrient-label {
    color: var(--primary-color);
    font-weight: 300;
    font-style: italic;
    padding-bottom: 0.5em;
}

.nutrient-item {
    max-width: 100%;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
}

#recipe-energy {
    border-right: 2px groove var(--primary-color);
    border-bottom: 1px groove var(--primary-color);
    padding-bottom: 0.5em;
}
#recipe-protein {
    border-left: 2px groove var(--primary-color);
    border-top: 1px groove var(--primary-color);
    padding-top: 0.5em;
}
#recipe-fat {
    border-left: 2px groove var(--primary-color);
    border-bottom: 1px groove var(--primary-color);
    padding-bottom: 0.5em;
}
#recipe-carbs {
    border-right: 2px groove var(--primary-color);
    border-top: 1px groove var(--primary-color);
    padding-top: 0.5em;
}

.recipe-ratings, .recipe-write_rating {
    margin-top: 3em;
}

.recipe-see_ratings {
    display: flex;
    flex-direction: column;
}

.rating-delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.rating-top, .rating-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rating-stars {
    display: inline-flex;
    font-size: 2em;
    color: var(--contrast-color);
    padding: 0;
}

#rating-name {
    color: var(--contrast-color);
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
}


#rating-name:hover {
    font-style: italic;
}

.rating-bottom{
    font-size: 0.9em;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-profile_photo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
    

.rating-comment {
    margin-top: 1em;
    font-size: 1em;
}

.star-rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border: 0;
    margin: 0.3em 0;
}

#recipe-write_rating_comment{
    border: 0;
    font-family: 'Helvetica', serif;
    min-height: 10em;
}


/* Rating Stars*/
.hide-visually,
.star-rating>input {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
}

.star-rating {
  font-size: 40px;
  display: inline-flex;
  padding: 0;
}

.star-rating label {
  cursor: pointer;
  line-height: 1em;
  text-align: center;
}

.star-rating label .star {
  height: 1em;
  width: 1em;
  display: inline-block;
}

.star-rating>label {
  -webkit-text-stroke: 2px var(--contrast-color);
}

.star-rating input:checked~label>span.star,
.star-rating>label:hover~input~label>span.star {
  color: #fff;
}

.star-rating span.star,
.star-rating:hover>input+label>span.star,
.star-rating>input:checked+label>span.star,
.star-rating>input~label:hover>span.star {
  color: var(--contrast-color);
}

.star-rating>input~label:hover>span.star {
  color: var(--contrast-color);
}

/* Plan page */
.plan-subtitle {
    color: var(--primary-color);
    font-weight: 300;
    display: flex;
    gap: 0.3em;
    font-style: italic;
}

.plan-subtitle h5 {
    color: var(--primary-color);
    font-weight: 300;
}

/* Recipe state */
.recipe-subtitle {
    display:flex;
    flex-direction: column;
    color: var(--primary-color);
    font-weight: 300;
    display: flex;
    gap: 0.3em;
    font-style: italic;
}

.recipe-subtitle h5 {
    color: var(--primary-color);
    font-weight: 300;
    padding-left: 0.5em;
}

.recipe-macronutrients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}
/* Add Ingredient Form */
#addNewIngredient{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}
.macronutrients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5em 0;
}

#finishRecipe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    margin: 1em 0;
}

#addRecipeCard>div, #addRecipeCard>.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox-other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#recipeState{
    border-left: 2px dashed var(--background-color-dark);
    padding-left: 1em;
}

.quantity-recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quantity-recipe > input, .quantity-recipe>select {
    margin: 0 0.5em;
    min-height: 1rem
}



/* Login Form*/
.login-container, .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

/* Register Form */
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Select with user info */
select, input[type="number"], input {
    appearance: none;
    padding: 10px 30px 10px 10px;

    border: 1px solid #e0e0e0;
    border-radius: 3px;

    margin: 0 0 10px 0;
    text-align: left;
    min-width: 15em;
}

select::-ms-expand {
  display: none;
}

/* Delete Button */

/* Buttons */
button {
  appearance: button;
  background-color: var(--primary-color);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 2px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0.2em;
  outline: none;
  overflow: visible;
  padding: 10px 13px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button :after {
  background-clip: padding-box;
  background-color: var(--primary-color);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}


button:hover{
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  background-color: var(--contrast-color);
}

button:disabled {
  cursor: auto;
}

button:active {
  border-width: 4px 0 0;
  background: none;
}

/* Link styling */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--contrast-color);
}

/* Filters chosen */
#filters{
    display: flex;
    align-items: center;

}
/* Add Recipe Form */
.addRecipe__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
}

.addRecipe__form > form>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addRecipe__form >div>input, .addRecipe__form >div> textarea {
    width: 100%;
}

#preparation-method>label, #preparation-method>textarea{ 
    display: block;
    flex-direction: column;
}

#preparation-method>label{
    margin-bottom: 1em;
}

#preparation-method{
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

textarea {
    width: 100%;
    min-height: 20em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: 'Helvetica', serif;    
    resize: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

textarea:focus {
    outline: none;
    background-color: #fafafa;
}

/* Checkboxes */
.category{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.category > p {
    margin: 0.5em 0.5em;
}

.checkbox-wrapper-6 >label {
    display: inline-block;
}

.checkbox-wrapper-6 .tgl {
    display: none;
}
.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl + .tgl-btn {
    box-sizing: border-box;
}
.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::selection {
    background: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn {
outline: 0;
display: block;
width: 3em;
height: 1.5em;
position: relative;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after,
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
position: relative;
display: block;
content: "";
width: 50%;
height: 100%;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after {
left: 0;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
display: none;
}
.checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
left: 50%;
}

.checkbox-wrapper-6 .tgl-light + .tgl-btn {
background: #f0f0f0;
border-radius: 2em;
padding: 2px;
transition: all 0.4s ease;
}
.checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
border-radius: 50%;
background: #fff;
transition: all 0.2s ease;
}
.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
background: var(--contrast-color);
}

/** Radio Buttons */
.radio-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    min-width: 20px;
    max-width: 20px;
    border-radius: 50%;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
  }
  .radio-btn:hover {
    background: #9faab7;
  }
  .radio-btn:checked {
    background: var(--contrast-color);
    ;
  }
  .radio-btn:checked::before {
    width: 1.5em;
    height: 1.5em;
    display:flex;
    content: '';
    font-size: 2em;
    font-weight:bold;
    position: absolute;
    align-items:center;
    justify-content:center;
    font-family:'Font Awesome 5 Free';
  }
  .radio-btn:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .radio-btn.radio {
    border-radius: 50%;
  }
  .radio-btn.radio::after {
    border-radius: 50%;
  }

/* Fieldset */
fieldset
{
  background-color: var(--background-color);
  max-width:500px;
  padding:16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

fieldset>label{
    display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Profile*/
.profile-info>div{
    display: flex;
    flex-direction: row;
}

.profile-info{
    overflow: auto;
}


/* Error Page */
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.error>img {
    height: 25em;
    margin-top: 3em;

}

/* Scrollbar */
html::-webkit-scrollbar {
    width: 10px;
  }
   
html::-webkit-scrollbar-track {
    background: var(--background-color-light);
    border-radius: 8px;
    border: 1px solid #e7e7e7;
  }
   
html::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 8px;
}

/* Profile */
 #label{
    font-weight: bold;
 }

 .profile-profile_photo {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}


/* Messages */
.message-bold {
    font-weight: bold;
}